body {
	background-color: #1c1c1e;
	color: #fff;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	/* padding: 20px; */
}

nav {
	display: flex;
	justify-content: center;
	padding: 10px;
}

nav button {
  text-transform: uppercase;
  font-size: 0.75rem;
}

button {
  background-color: #555;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 0 10px;
	cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #1c1c1e;
}

button#reset {
  margin: auto;
}

#scripts-container {
	/* padding: 20px; */
	/* display: flex;*/
	flex-wrap: wrap;
	justify-content: center; 
  margin-left: auto;
  margin-right: auto;
  /* width: 80%; */
}

textarea, input {
  background-color: #333;
  color: #fff;
}

input[type=text] {
  width: 530px;
}
.tout{
  /* justify-content: center; 
  margin-left: auto;
  margin-right: auto;
  width: 80%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
	button {
		margin: 5px;
	}
	#scripts-container {
		padding: 10px;
	}
}

/* CSS pour le titre */
h1 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  /* CSS pour les tableaux */
  /* #tableau1,
  #tableau2 {
    float: left;
    width: 45%;
    margin-right: 5%;
  } */
  
  /* CSS pour les titres des tableaux */
  h2, h3 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: normal;
  }
  h2 span {
    color: #999;
  }
  
  /* CSS pour le bouton comparer */
  #comparer {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  /* CSS pour le tableau résultat */
  #resultat {
    margin: 0 auto;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
  }
  
  /* CSS pour le titre du tableau résultat */
  #resultat h2 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .fullwidth {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* CSS formatage de valeurs */
  label {
    font-size: .8em;
    color: #999;
  }
  .sql {
    color: #aaa;
    font-size: .7rem;
    background-color: #222;
  }

  #ctn {
    margin-left: auto;
    margin-right: auto;
    width: 535px;
    /* width: fit-content; */
    text-align: center;
  }
  .count {
    float: right;
    font-size: .8em;
    color: #999;
  }

  .left-align {
    text-align: left;
  }
  .right-align {
    text-align: right;
  }
  .float-left {
    float: left;
  }

  /* 2 colonnes pour 2 textarea */
  #cols {
    position: relative;
    margin-top: 1rem;
  }
  #cols label {
    position: absolute;
    top: -1rem;
    /* font-size: .7rem; */
  }

  /* CSS de la bulle d'Info */
  .info-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: #333;
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
  }

  .info-btn-icon {
    /* display: inline-block;
    margin-top: 50%;
    transform: translateY(-50%); */
    margin-left: -4px;
  }

  .info-bubble {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #fff;
    color: #333;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
  }

  .info-bubble ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .info-bubble li {
    padding: 5px 0;
  }

  
  /* table */
  table, th, td {
    border: #555 solid 1px;
    border-spacing: 0;
  }
  td {
    padding: 5px;
    text-align: right;
    font-size: 0.9rem;
  }
  td.center {
    text-align: center;
  }

  tr:nth-child(odd) {background: #333; }

  table.small th {
    text-align: center;
  }

  table.small th, table.small td {
    font-size: .8rem;
  }

  td.vtop {
    vertical-align: top;
  }

  th.narrow {
    width: 20%;
  }
  th.large {
    width: 40%;
  }

  td.diff {
    color: red;
  }

  .num {
    color: #aaa;
    font-size: smaller;
    font-weight: normal;
  }

  .shrink {
    overflow-wrap: anywhere;
    min-width: 30px;
    vertical-align: baseline;
  }

